<main class="p-5">

    <div class="card p-5">
        <p id="test">
            Hello world!
        </p>
    </div>
    <div class="card p-5">
        <p hidden id="test">
            Hello world! ghhghghghghhghghhghghghghg
            gjjgjgjgjgjjgjgj fjfjjfjfjfjfjf fjfjjf
        </p>
    </div>
    <div class="card p-5">
        <p id="test">
            Hello world!
        </p>
        <span class="test">Test</span>
    </div>
    <pre>
        			gjgjgjgj
    </pre>

    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>

    <div style="padding: 50px 0 50px 100px; background: gray; height: 200px;">
        <span>Category cat</span>
        <span>Category dog</span>
        <span>Category cat</span>
        <span>Category fish</span>
        <span class="block">Inline-Inline</span>
    </div>

    <div>Block</div>
</main>